.small-text {
    font-size: 0.75rem;
}

.link  {
    padding-right: 0;
    padding-left: 0.3rem;
    color: aqua;
    font-weight: 900;
}

.see-more {
    color: #727272;
}

@media only screen and (min-width: 1600px) {
    .small-text {
        font-size: 1.4rem;
    }
}
