.snippet-title {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.1rem;
}

.bold-text {
    font-weight: 700;
}

.small-text {
    font-size: 0.75rem;
}

.link  {
    padding-right: 0;
    padding-left: 0.3rem;
}

@media only screen and (max-width: 400px) {
    .snippet-title {
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 2.1rem;
    }
}
