.menu-title {
  cursor: pointer;
  color: #ff10f0;
  border-width: 0;
  font-weight: 600;
  background-color: black;
  margin-bottom: 1rem;
  padding: 0rem;
  font-size: 20px;
  margin-top: 1rem;
}

.menu-item-text {
  font-weight: 600;
}
