.cream-background {
    background-color: #FBF6E2
  }

  .cream-color {
    color: #FBF6E2
  }

  .mocha-background {
    background-color: #C9D7C3;
  }

  .mocha-color {
    color: #C9D7C3;
  }

  .clay-background {
    background-color: #D9C0B2
  }

  .clay-color {
    color: #D9C0B2
  }

  .tan-background {
    background-color: #EFCEAA
  }

  .tan-color {
    color: #EFCEAA
  }

  .iron-background {
    background-color: #D9AA95
  }

  .iron-color {
    color: #D9AA95
  }

  .coffee-background {
    background-color: #AB9272
  }

  .coffee-color {
    color: #AB9272
  }

  .white-color {
    color: #ffffff
  }

  .black-color {
    color: #000000
  }
